@font-face {
    font-family: 'aleobolditalic';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Aleo-BoldItalic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'aleobold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Aleo-Bold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'aleoregular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Aleo-Regular-webfont.woff') format('woff');
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: 'aleobold', sans-serif;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}
