.sidenav {
  background-color: #AC363A;
  font-family: 'aleobold', sans-serif;
  overflow: hidden;
  padding-top: 20px;

  &__title {
    color: rgba(0,0,0,0.25);
    // text-align: center;
    position: relative;
    left: -25px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin-left: 0;
  }

  &__list ul {
    list-style: none;
    float: left;
    padding-bottom: 10px;
  }

  &__subtitle {
    font-size: 20px;
    line-height: 24px;
    padding: 10px 0;
    color: white;
    float: left;

    &:hover {
      color: white;
      text-decoration: underline;
    }

  }

  &__item {
    float: left;
    width: 100%;

    &:hover {
      text-decoration: underline;
    }

  }

  &__item a {
    font-size: 15px;
    line-height: 28px;
    color: white;
  }

}
